#Standard Policy between the VPN Security Zone and the Customer Transfer Zone
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-VPN to-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer policy POLICY-{{services_vars.customer_name}}-VPN2Transfer description "{{services_vars.change_request}} VPN to {{services_vars.customer_name}}"
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-VPN to-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer policy POLICY-{{services_vars.customer_name}}-VPN2Transfer match source-address any destination-address any application any
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-VPN to-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer policy POLICY-{{services_vars.customer_name}}-VPN2Transfer then permit
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-VPN to-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer policy POLICY-{{services_vars.customer_name}}-VPN2Transfer then log session-close

set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer to-zone SECURITYZONE-{{services_vars.customer_name}}-VPN policy POLICY-{{services_vars.customer_name}}-Transfer2VPN description "{{services_vars.change_request}} VPN to {{services_vars.customer_name}}"
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer to-zone SECURITYZONE-{{services_vars.customer_name}}-VPN policy POLICY-{{services_vars.customer_name}}-Transfer2VPN match source-address any destination-address any application any
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer to-zone SECURITYZONE-{{services_vars.customer_name}}-VPN policy POLICY-{{services_vars.customer_name}}-Transfer2VPN then permit
set security policies from-zone SECURITYZONE-{{services_vars.customer_name}}-Transfer to-zone SECURITYZONE-{{services_vars.customer_name}}-VPN policy POLICY-{{services_vars.customer_name}}-Transfer2VPN then log session-close

# Interface
set routing-instances VRF-{{services_vars.customer_name}} interface st0.{{local_node_vars.interface_tunnel}}
set security zones security-zone SECZN-{{services_vars.customer_name}}-VPN interfaces st0.{{local_node_vars.interface_tunnel}}
set interfaces st0 unit {{local_node_vars.interface_tunnel}} family inet
set interfaces st0 unit {{local_node_vars.interface_tunnel}} description VPN-{{services_vars.customer_name}}-{{services_vars.change_request}}

# Phase 1
set security ike proposal P1-{{services_vars.customer_name}}-{{services_vars.change_request}} authentication-method pre-shared-keys dh-group group{{services_vars.p1.dh_group}} authentication-algorithm {{services_vars.p1.integrity}} encryption-algorithm {{services_vars.p1.encryption}} lifetime-seconds {{services_vars.p1.renegociation_time}}
set security ike policy VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} mode main proposals P1-{{services_vars.customer_name}}-{{services_vars.change_request}} pre-shared-key ascii-text {{services_vars.psk}}
set security ike gateway GW-{{services_vars.customer_name}}-{{services_vars.change_request}} ike-policy VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} address {{remote_node_vars.ip}} external-interface reth1.{{local_node_vars.interface_external}} version {{services_vars.p1.ike_version}}

# Phase 2
set security ipsec proposal P2-{{services_vars.customer_name}}-{{services_vars.change_request}} protocol esp authentication-algorithm {{services_vars.p2.integrity}} encryption-algorithm {{services_vars.p2.encryption}} lifetime-seconds {{services_vars.p2.renegociation_time}}
set security ipsec policy VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} perfect-forward-secrecy keys group{{services_vars.p2.dh_group}}
set security ipsec policy VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} proposals P2-{{services_vars.customer_name}}-{{services_vars.change_request}}
set security ipsec vpn VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} establish-tunnels immediately bind-interface st0.{{local_node_vars.interface_tunnel}} ike gateway GW-{{services_vars.customer_name}}-{{services_vars.change_request}} ipsec-policy VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} 

{# Skip the traffic selectors creation if the "universal tunnel" is enabled, thus creatig a default 0.0.0.0/0 tunnel #}
{% if services_vars.p2.universal_tunnel is sameas false %}

{% set ts_id = [1] %} {# Use a traffic selector ID per traffic selector. We use an object because of Jinja2 scoping issue : https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template #}

# Traffis Selectors
{# Outer "for": #}
{# For each remote network... #}
{% for remote_network in services_vars.p2.site_a_networks %}

{# Inner "for": #}
{# ... create a traffic selector with each local network #}
{% for local_network in services_vars.p2.site_b_networks %}
set security ipsec vpn VPN-{{services_vars.customer_name}}-{{services_vars.change_request}} traffic-selector TS{{ts_id[0]}} remote-ip {{remote_network}} local-ip {{local_network}}
{% if ts_id.append(ts_id.pop() + 1) %}{% endif %}{# Increment the ts_id by 1 #}
{% endfor %}{# End the inner "for" #}
{% endfor %}{# End the outer "for" #}
{% endif %}{# End the traffic selector creation #}