ip security
  ike policy P1-{{services_vars.customer_name}}-{{services_vars.change_request}}
    integrity {{services_vars.p1.integrity}} 
    encryption {{services_vars.p1.encryption}} 
    ike-lifetime {{services_vars.p1.renegociation_time}}
    dh-group {{services_vars.p1.dh_group}}
!
  sa policy P2-{{services_vars.customer_name}}-{{services_vars.change_request}} 
    sa lifetime {{services_vars.p2.renegociation_time}}
    esp encryption {{services_vars.p2.encryption}} 
    esp integrity {{services_vars.p2.integrity}}
    pfs dh-group {{services_vars.p2.dh_group}}
!
  profile VPN-{{services_vars.customer_name}}-{{services_vars.change_request}}
    ike-policy P1-{{services_vars.customer_name}}-{{services_vars.change_request}} 
    sa-policy P2-{{services_vars.customer_name}}-{{services_vars.change_request}}
    shared-key {{services_vars.psk}}
    ! connection start is equivalent to JunOS "establish-tunnels immediately"
    ! the local ipsec gateway will always try ro activate the tunnel
    connection start
!
vrf instance VRF-{{services_vars.customer_name}}
!
interface ethernet {{local_node_vars.interface_external}} 
  no switchport
  ip address 1.0.0.1/24
!
!
interface tunnel {{local_node_vars.interface_tunnel}}
  mtu 9192
  tunnel mode ipsec 
  tunnel ipsec profile VPN-{{services_vars.customer_name}}-{{services_vars.change_request}}
  ! Optional - VRF support: 
  ! tunnel ipsec profile vrouter
  ! vrf forwarding VRF-{{services_vars.customer_name}}